In [1]:
# libraries
import numpy as np
import pandas as pd
from datetime import datetime, date, timedelta

In [ ]:
# data size: 52 data files, each is about 25MB. Total data size is 1.25GB.
# processing data: load one data file at a time, group data by subway stations and days of the week to calculate ridership, then
# calculate 52 week mean.

In [33]:
# experiment with one data file first 
df = pd.read_csv("data/turnstile_171223.txt")
print df.shape
df.head()

(199474, 11)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/16/2017,03:00:00,REGULAR,6446400,2181796
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/16/2017,07:00:00,REGULAR,6446408,2181807
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/16/2017,11:00:00,REGULAR,6446457,2181889
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/16/2017,15:00:00,REGULAR,6446670,2181964
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/16/2017,19:00:00,REGULAR,6446975,2182026

In [37]:
# use every midnight (00:00:00 - 00:03:59)
def midnight(s):    
    if s[0:2]=='01' or s[0:2]=='02' or s[0:2]=='03' or s[0:2]=='00':
        return 'YES'
    else:
        return s    

df['TIME'] = df['TIME'].apply(midnight)
df_midnight = df[(df['TIME'] == 'YES')]

In [12]:
print df.shape
print df_midnight.shape

(199474, 11)
(32582, 11)

In [4]:
df_midnight['DATE'] = pd.to_datetime(df_midnight['DATE'],format='%m/%d/%Y')
df_midnight['WEEKDAY'] = df_midnight['DATE'].apply(lambda x: x.weekday())

C:\Users\jhuan\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\jhuan\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [30]:
df_midnight.sort_values(by = ['STATION', 'DATE'])[:5]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,WEEKDAY
29856,H007,R248,00-00-00,1 AV,L,BMT,2017-12-16,YES,REGULAR,13021054,14515138,5
29898,H007,R248,00-00-01,1 AV,L,BMT,2017-12-16,YES,REGULAR,58137408,36931419,5
29940,H007,R248,00-03-00,1 AV,L,BMT,2017-12-16,YES,REGULAR,370185490,387175207,5
29982,H007,R248,00-03-01,1 AV,L,BMT,2017-12-16,YES,REGULAR,2079648,872209,5
30024,H007,R248,00-03-02,1 AV,L,BMT,2017-12-16,YES,REGULAR,5803812,487215,5

In [31]:
df_midnight.sort_values(by = ['STATION', 'DATE'])[-5:]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,WEEKDAY
175586,R419,R326,00-00-01,ZEREGA AV,6,IRT,2017-12-22,YES,REGULAR,282345,448440,4
175628,R419,R326,00-03-00,ZEREGA AV,6,IRT,2017-12-22,YES,REGULAR,584785,271478,4
175670,R419,R326,00-03-01,ZEREGA AV,6,IRT,2017-12-22,YES,REGULAR,285105,52921,4
175712,R419,R326,00-05-00,ZEREGA AV,6,IRT,2017-12-22,YES,REGULAR,106,0,4
175754,R419,R326,00-05-01,ZEREGA AV,6,IRT,2017-12-22,YES,REGULAR,39,84,4

In [23]:
df_entries_grouped = df_midnight.groupby(['STATION', 'DATE']).agg({'ENTRIES':np.sum})

In [24]:
df_entries_grouped[:10]

                       ENTRIES
STATION DATE
1 AV    2017-12-16  3042691118
        2017-12-17  3042710114
        2017-12-18  3042723264
        2017-12-19  3042744916
        2017-12-20  3042767332
        2017-12-21  3042789542
        2017-12-22  3042811366
103 ST  2017-12-16   147423304
        2017-12-17   147437743
        2017-12-18   147448711

In [18]:
# Appendix 1: How many unique stations names are in this dataset?
print len(df['STATION'].unique())
print df['STATION'].unique()

373
['59 ST' '5 AV/59 ST' '57 ST-7 AV' '49 ST' 'TIMES SQ-42 ST'
 '34 ST-HERALD SQ' '28 ST' '23 ST' '14 ST-UNION SQ' '8 ST-NYU' 'PRINCE ST'
 'CANAL ST' 'CITY HALL' 'CORTLANDT ST' 'RECTOR ST' 'WHITEHALL S-FRY'
 'DELANCEY/ESSEX' 'BOWERY' 'CHAMBERS ST' 'FULTON ST' 'BROAD ST' '7 AV'
 'PARK PLACE' 'BOTANIC GARDEN' 'PROSPECT PARK' 'PARKSIDE AV' 'CHURCH AV'
 'BEVERLEY ROAD' 'CORTELYOU RD' 'NEWKIRK PLAZA' 'AVENUE H' 'AVENUE J'
 'AVENUE M' 'KINGS HWY' 'AVENUE U' 'NECK RD' 'SHEEPSHEAD BAY'
 'BRIGHTON BEACH' 'OCEAN PKWY' 'BOROUGH HALL' 'JAY ST-METROTEC' 'DEKALB AV'
 'ATL AV-BARCLAY' 'UNION ST' '4AV-9 ST' 'PROSPECT AV' '25 ST' '36 ST'
 '45 ST' '53 ST' 'BAY RIDGE AV' '77 ST' '86 ST' 'BAY RIDGE-95 ST' '8 AV'
 'FT HAMILTON PKY' 'NEW UTRECHT AV' '18 AV' '20 AV' 'BAY PKWY' '9 AV'
 '50 ST' '55 ST' '71 ST' '79 ST' '25 AV' 'BAY 50 ST' 'CONEY IS-STILLW'
 'W 8 ST-AQUARIUM' '6 AV' '3 AV' '1 AV' 'BEDFORD AV' 'LORIMER ST'
 'GRAHAM AV' 'GRAND ST' 'MONTROSE AV' 'MORGAN AV' 'JEFFERSON ST'
 'MYRTLE-WYCKOFF' 'HALSEY ST' 'WILSON AV' 'BUSHWICK AV' 'ATLANTIC AV'
 'SUTTER AV' 'LIVONIA AV' 'NEW LOTS' 'EAST 105 ST' 'CANARSIE-ROCKAW'
 'HOWARD BCH JFK' 'JFK JAMAICA CT1' 'MARCY AV' 'HEWES ST' 'FLUSHING AV'
 'MYRTLE AV' 'KOSCIUSZKO ST' 'GATES AV' 'CHAUNCEY ST' 'ALABAMA AV'
 'VAN SICLEN AV' 'CLEVELAND ST' 'NORWOOD AV' 'CRESCENT ST' 'CYPRESS HILLS'
 '75 ST-ELDERTS' '85 ST-FOREST PK' 'WOODHAVEN BLVD' '104 ST' '111 ST'
 '121 ST' 'SENECA AVE' 'FOREST AVE' 'FRESH POND RD' 'METROPOLITAN AV'
 'INWOOD-207 ST' 'DYCKMAN ST' '190 ST' '181 ST' '175 ST' '168 ST'
 '163 ST-AMSTERDM' '155 ST' '145 ST' '135 ST' '125 ST' '116 ST'
 'CATHEDRAL PKWY' '103 ST' '96 ST' '81 ST-MUSEUM' '72 ST' '59 ST COLUMBUS'
 '42 ST-PORT AUTH' '34 ST-PENN STA' '14 ST' 'W 4 ST-WASH SQ' 'SPRING ST'
 'WORLD TRADE CTR' 'HIGH ST' 'HOYT-SCHER' 'LAFAYETTE AV' 'CLINTON-WASH AV'
 'FRANKLIN AV' 'NOSTRAND AV' 'KINGSTON-THROOP' 'UTICA AV' 'RALPH AV'
 'ROCKAWAY AV' 'BROADWAY JCT' 'LIBERTY AV' 'VAN SICLEN AVE' 'SHEPHERD AV'
 'EUCLID AV' 'GRANT AV' '80 ST' '88 ST' 'ROCKAWAY BLVD' 'OZONE PK LEFFRT'
 'AQUEDUCT N.COND' 'AQUEDUCT RACETR' 'BROAD CHANNEL' 'BEACH 90 ST'
 'BEACH 98 ST' 'BEACH 105 ST' 'ROCKAWAY PARK B' 'BEACH 67 ST' 'BEACH 60 ST'
 'BEACH 44 ST' 'BEACH 36 ST' 'BEACH 25 ST' 'FAR ROCKAWAY' '161/YANKEE STAD'
 '167 ST' '170 ST' '174-175 STS' 'TREMONT AV' '182-183 STS' 'FORDHAM RD'
 'KINGSBRIDGE RD' 'BEDFORD PK BLVD' 'NORWOOD 205 ST' '5 AV/53 ST'
 'LEXINGTON AV/53' 'COURT SQ-23 ST' 'QUEENS PLAZA' 'STEINWAY ST' '46 ST'
 'NORTHERN BLVD' '65 ST' 'JKSN HT-ROOSVLT' 'ELMHURST AV' 'GRAND-NEWTOWN'
 '63 DR-REGO PARK' '67 AV' 'FOREST HILLS 71' '75 AV' 'KEW GARDENS'
 'BRIARWOOD' 'SUTPHIN BLVD' 'PARSONS BLVD' '169 ST' 'JAMAICA 179 ST'
 'COURT SQ' '21 ST' 'GREENPOINT AV' 'NASSAU AV' 'BROADWAY'
 'MYRTLE-WILLOUGH' 'BEDFORD-NOSTRAN' 'CLASSON AV' '47-50 STS ROCK'
 '42 ST-BRYANT PK' "B'WAY-LAFAYETTE" '2 AV' 'EAST BROADWAY' 'YORK ST'
 'BERGEN ST' 'CARROLL ST' 'SMITH-9 ST' '4 AV-9 ST' '15 ST-PROSPECT'
 'DITMAS AV' 'AVENUE I' 'AVENUE N' 'AVENUE P' 'AVENUE X' 'NEPTUNE AV'
 '57 ST' 'LEXINGTON AV/63' 'ROOSEVELT ISLND' '21 ST-QNSBRIDGE'
 'JAMAICA VAN WK' 'SUTPHIN-ARCHER' 'JAMAICA CENTER' '72 ST-2 AVE'
 '86 ST-2 AVE' '96 ST-2 AVE' 'NEWARK HW BMEBE' 'HARRISON' 'JOURNAL SQUARE'
 'GROVE STREET' 'EXCHANGE PLACE' 'PAVONIA/NEWPORT' 'CITY / BUS'
 'CHRISTOPHER ST' '9TH STREET' '14TH STREET' 'TWENTY THIRD ST' 'THIRTY ST'
 'LACKAWANNA' 'THIRTY THIRD ST' 'NEWARK BM BW' 'NEWARK C' 'NEWARK HM HE'
 'PATH WTC 2' 'PATH NEW WTC' 'SOUTH FERRY' 'WALL ST' 'FRANKLIN ST'
 'HOUSTON ST' '18 ST' '66 ST-LINCOLN' '116 ST-COLUMBIA' '137 ST CITY COL'
 '157 ST' '191 ST' '207 ST' '215 ST' 'MARBLE HILL-225' '231 ST' '238 ST'
 'V.CORTLANDT PK' 'BOWLING GREEN' 'BROOKLYN BRIDGE' 'BLEECKER ST'
 'ASTOR PL' '33 ST' 'GRD CNTRL-42 ST' '51 ST' '68ST-HUNTER CO' '110 ST'
 '138/GRAND CONC' '149/GRAND CONC' 'MT EDEN AV' '176 ST' 'BURNSIDE AV'
 '183 ST' 'MOSHOLU PKWY' 'WOODLAWN' 'CENTRAL PK N110' 'HARLEM 148 ST'
 '3 AV-149 ST' 'JACKSON AV' 'INTERVALE AV' 'SIMPSON ST' 'FREEMAN ST'
 '174 ST' 'WEST FARMS SQ' 'E 180 ST' 'BRONX PARK EAST' 'PELHAM PKWY'
 'ALLERTON AV' 'BURKE AV' 'GUN HILL RD' '219 ST' '225 ST' '233 ST'
 'NEREID AV' 'WAKEFIELD/241' '3 AV 138 ST' 'BROOK AV' 'CYPRESS AV'
 "E 143/ST MARY'S" 'E 149 ST' 'LONGWOOD AV' 'HUNTS POINT AV' 'WHITLOCK AV'
 'ELDER AV' 'MORISN AV/SNDVW' 'ST LAWRENCE AV' 'PARKCHESTER'
 'CASTLE HILL AV' 'ZEREGA AV' 'WESTCHESTER SQ' 'MIDDLETOWN RD' 'BUHRE AV'
 'PELHAM BAY PARK' '5 AVE' 'VERNON-JACKSON' 'HUNTERS PT AV'
 'QUEENSBORO PLZ' '39 AV' 'ASTORIA BLVD' 'ASTORIA DITMARS'
 '33 ST-RAWSON ST' '40 ST LOWERY ST' '46 ST BLISS ST' '52 ST'
 '61 ST WOODSIDE' '69 ST' '74 ST-BROADWAY' '82 ST-JACKSON H'
 '90 ST-ELMHURST' 'JUNCTION BLVD' '103 ST-CORONA' 'METS-WILLETS PT'
 'FLUSHING-MAIN' '34 ST-HUDSON YD' 'CLARK ST' 'HOYT ST' 'NEVINS ST'
 'GRAND ARMY PLAZ' 'EASTN PKWY-MUSM' 'KINGSTON AV' 'CROWN HTS-UTICA'
 'SUTTER AV-RUTLD' 'SARATOGA AV' 'JUNIUS ST' 'PENNSYLVANIA AV'
 'NEW LOTS AV' 'PRESIDENT ST' 'STERLING ST' 'WINTHROP ST' 'BEVERLY RD'
 'NEWKIRK AV' 'FLATBUSH AV-B.C' 'MORRIS PARK' 'BAYCHESTER AV'
 'EASTCHSTER/DYRE' 'ST. GEORGE' 'TOMPKINSVILLE' 'RIT-MANHATTAN'
 'RIT-ROOSEVELT']

In [ ]:
# Appendix 2:
# MTA turnstile data filename format: "turnstile_" + Saturday date, for instance, first file's name is "turnstile_170107"
# Define Function to generate Saturday dates in 2017 so we have a list of turnstile data filenames
# Modified code on Stack Overflow: https://stackoverflow.com/questions/2003870/how-can-i-select-all-of-the-sundays-for-a-year-using-python

def saturdays2017():
    d = date(2017, 1, 7)                    # First Saturday in 2017 - January 7th
    while d.year == 2017:
        yield d
        d += timedelta(days = 7)        
filenames = list()
for d in saturdays2017():
    filenames.append("turnstile_%s" % d.strftime("%y%m%d"))
print filenames